<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div id="center-on-page">
        <div class="pagetitle">
            <h1>Upload New Recipe</h1>
        </div>
        <div id="recipe_form">
            <form method="POST" enctype="multipart/form-data" autocomplete="off" action="{{ url_for('submitted_recipe') }}">
                <label for="recipe_name">Recipe Name
                </label>
                <input type="text" name="recipe_name" /> <br/>

                <label for="ingredients">Ingredients (input an ingredient followed by a new line)</label>
                <textarea name="ingredients"></textarea> <br />

                <label for="method">Method (input a step followed by a new line)</label>
                <textarea name="method"></textarea> <br />

                <label for="image">Recipe Image</label>
                <input type="file" accept="image/*" name="image" />

                <input type="submit">
            </form>
        </div>
    </div>
</body>

</html>